<section class="min-vh-100 py-8" id="contact">
    <div class="container">
        <div class="row mb-4">
            <div class="offset-md-6 col-md-6">
                <div class="heading-container mb-4">
                    <hr class="bg-info" />
                    <h2 class="text-uppercase">Contact</h2>
                </div>
            </div>
            <div class="col-md-12">
                <p class="lead text-right">
                    There are many variations of passages of Lorem Ipsum available, but the majority
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <form action="mailto:{{ site.email }}" method="GET" enctype="text/plain">
                    <div class="form-group">
                        <label class="col-form-label text-center d-block" for="form-subject">Subject</label>
                        <input type="text" name="subject" class="form-control" placeholder="Subject" id="form-subject">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label text-center d-block" for="form-comments">Message</label>
                        <textarea name="body" class="form-control" id="form-comments" rows="9" placeholder="Message"></textarea>
                    </div> 
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit Mail</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-12">
                <div class="d-inline-block d-flex justify-content-center">
                    <a href="tel:{{ site.telephone }}" class="h5 text-info text-center">
                        <i class="fas fa-phone-alt"></i>
                        <span class="text-white mx-2">{{ site.telephone }}</span>
                    </a>
                </div>
                <div class="d-inline-block d-flex justify-content-center">
                    <a href="mailto:{{ site.email }}" class="h5 text-info text-center">
                        <i class="fas fa-envelope"></i>
                        <span class="text-white mx-2">{{ site.email }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>