<section class="text-center text-white bg-info py-8">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center mb-5">
            {% if site.facebook %}
            <div>
                <a href="{{ site.facebook }}" class="h5 mx-2">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            {% endif %}
            {% if site.twitter %}
            <div>
                <a href="{{ site.twitter }}" class="h5 mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            {% endif %}
            {% if site.instagram %}
            <div>
                <a href="{{ site.instagram }}" class="h5 mx-2">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            {% endif %}
        </div>
        <div>
            <p>
                {{ site.footer | newline_to_br }}
            </p>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" crossorigin="anonymous"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>