<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>
{% assign meta_title = site.title %}
{% assign meta_author = site.author %}
{% assign meta_description = site.description | strip_html %}
{% assign meta_url = site.url %}
{% assign meta_image = site.image %}
{% assign meta_type = 'website' %}
<title>{{ meta_title }}</title>
<meta name="title" content="{{ meta_title }}" />
<meta name="author" content="{{ meta_author }}"/>
<meta name="description" content="{{ meta_description }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:type" content="{{ meta_type }}"/>
<meta property="og:title" content="{{ meta_title }}"/>
<meta property="og:description" content="{{ meta_description }}"/>
<meta property="og:url" content="{{ meta_url }}"/>
<meta property="og:image" content="{{ meta_image }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ meta_title }}"/>
<meta name="twitter:description" content="{{ meta_description }}"/>
<meta name="twitter:label1" content="Written by"/>
<meta name="twitter:data1" content="{{ meta_author }}"/>
<meta name="twitter:image:src" content="{{ meta_image }}"/>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />