<section class="min-vh-100 py-8" id="portfolio">
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-container">
                    <h2 class="text-uppercase mx-auto">Portfolio</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in site.portfolio-item %}
                <div class="col-md-3">
                    <div class="card text-white bg-info mb-3">
                        <a href="{{ item.link }}" data-toggle="lightbox" data-gallery="Portfolio">
                            <div class="square-box" style="background-image:url('{{ item.image }}');"></div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>