<section class="position-relative" id="slides">
    <div class="slider-background-container"></div>
    <div class="slider-content-container">
        <div class="slider-text-container">
            <h1 class="glitch my-4" data-text="{{ site.project }}">{{ site.project }}</h1>
            <a href="#contact" class="btn btn-lg btn-outline-secondary">CONTACT US</a>
        </div>
        <div class="slider-image-container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% assign count = 0 %}
                    {% for slide in site.slides %}
                        <div class="carousel-item {% if count == 0 %}active{% endif %}">
                            <video loop muted autoplay class="slider-video-element">
                                <source src="{{ slide }}" type="video/webm">
                            </video>
                        </div>
                        {% assign count = count | plus: 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>