<section class="position-relative">
    <div class="slider-background-container"></div>
    <div class="slider-content-container">
        <div class="slider-text-container">
            <h1 class="glitch my-4" data-text="yapyap93">yapyap93</h1>
            <a href="#contact" class="btn btn-lg btn-outline-secondary">CONTACT US</a>
        </div>
        <div class="slider-image-container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <video loop muted autoplay class="slider-video-element">
                            <source src="assets/images/glitch01.webm" type="video/webm">
                        </video>
                    </div>
                    <div class="carousel-item active">
                        <video loop muted autoplay class="slider-video-element">
                            <source src="assets/images/glitch01.webm" type="video/webm">
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video loop muted autoplay class="slider-video-element">
                            <source src="assets/images/glitch03.webm" type="video/webm">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>