.h-30 {
    height: 30% !important;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-40 {
    z-index: 40;
}

.pb-0-5, .py-0-5 {
    padding-bottom: .125rem !important;
}

.pt-0-5, .py-0-5 {
    padding-top: .125rem !important;
}

.pb-1-75, .py-1-75 {
    padding-bottom: .4375rem !important;
}

.pt-1-75, .py-1-75 {
    padding-top: .4375rem !important;
}

.pb-2-5, .py-2-5 {
    padding-bottom: .5625rem !important;
}

.pt-2-5, .py-2-5 {
    padding-top: .5625rem !important;
}

.pb-3-75, .py-3-75 {
    padding-bottom: 3.2rem !important;
}

.pt-3-75, .py-3-75 {
    padding-top: 3.2rem !important;
}

.pt-4-5, .py-4-5, .p-4-5 {
    padding-top: 1.745rem !important;
}

.pb-4-5, .py-4-5, .p-4-5 {
    padding-bottom: 1.745rem !important;
}

.pl-4-5, .px-4-5, .p-4-5 {
    padding-left: 1.745rem !important;
}

.pr-4-5, .px-4-5, .p-4-5 {
    padding-right: 1.745rem !important;
}

.pl-6, .px-6, .p-6 {
    padding-left: 3.6rem !important;
}

.pr-6, .px-6, .p-6 {
    padding-right: 3.6rem !important;
}

.pb-6, .py-6, .p-6 {
    padding-bottom: 3.6rem !important;
}

.pt-6, .py-6, .p-6 {
    padding-top: 3.6rem !important;
}

.pl-7, .px-7, .p-7 {
    padding-left: 4.2rem !important;
}

.pr-7, .px-7, .p-7 {
    padding-right: 4.2rem !important;
}

.pb-7, .py-7, .p-7 {
    padding-bottom: 4.2rem !important;
}

.pt-7, .py-7, .p-7 {
    padding-top: 4.2rem !important;
}

.pb-7-75, .py-7-75 {
    padding-bottom: 4.7rem !important;
}

.pt-7-75, .py-7-75 {
    padding-top: 4.7rem !important;
}

.pl-8, .px-8, .p-8 {
    padding-left: 4.8rem !important;
}

.pr-8, .px-8, .p-8 {
    padding-right: 4.8rem !important;
}

.pb-8, .py-8, .p-8 {
    padding-bottom: 4.8rem !important;
}

.pt-8, .py-8, .p-8 {
    padding-top: 4.8rem !important;
}

.pl-9, .px-9, .p-9 {
    padding-left: 7.3125rem !important;
}

.pr-9, .px-9, .p-9 {
    padding-right: 7.3125rem !important;
}

.pb-9, .py-9, .p-9 {
    padding-bottom: 7.3125rem !important;
}

.pt-9, .py-9, .p-9 {
    padding-top: 7.3125rem !important;
}

.square-box {
    @extend .d-inline-block;
    @extend .w-100;
    background-size: cover; 
    background-position: center center;
}

.square-box:after {
    @extend .d-inline-block;
    content: '';
    padding-bottom: 100%;
}
