$font-family-sans-serif: 'Noto Sans KR', $font-family-sans-serif;

.h-30 {
    height: 30% !important;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-40 {
    z-index: 40;
}

.pb-6, .py-6 {
    padding-bottom: 3.6rem !important;
}

.pt-6, .py-6 {
    padding-top: 3.6rem !important;
}

.pb-7, .py-7 {
    padding-bottom: 4.2rem !important;
}

.pt-7, .py-7 {
    padding-top: 4.2rem !important;
}

.pb-8, .py-8 {
    padding-bottom: 4.8rem !important;
}

.pt-8, .py-8 {
    padding-top: 4.8rem !important;
}

.box-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.rhombus-clip-path {
    -webkit-clip-path: polygon(0 0, 70% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 70% 0, 50% 100%, 0% 100%);
}