.h-30 {
    height: 30% !important;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-40 {
    z-index: 40;
}

.square-box {
    @extend .d-inline-block;
    @extend .w-100;
    background-size: cover; 
    background-position: center center;
}

.square-box:after {
    @extend .d-inline-block;
    content: '';
    padding-bottom: 100%;
}