---
---

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');
@import "variables";
@import "custom";
@import "bootstrap/scss/bootstrap";
@import "extends-spacing";

.brand-image {
    text-indent: -100em;
    background: url(/assets/images/brand_logo.png);
    background-size: 115%;
    background-position: left;
    background-repeat: no-repeat;
    width: 9.543em;
    display: inline-block;
}

.navbar-nav {
    .nav-link {
        font-size: 1.0625rem;
    }
}

#home {
    .lead {
        font-size: 1.25rem;
    }

    .btn {
        font-size: 1.375rem;
    }

    .carousel-item > img {
        background-size: cover;    
        object-fit: cover;
    }
}

#about {
    .brand-image {
        background: url(/assets/images/about_logo.png);
        width: 6.0417em;
        height: 2.7085em;
    }

    .lead {
        color: $gray-550;
        line-height: 2;
    }
}

@include media-breakpoint-down(md) {
    .navbar {
        min-height: 6rem;
    }

    .navbar-toggler-icon {
        width: 2.058em;
        background-size: 100%;
    }
}

@include media-breakpoint-down(xs) {
    .navbar {
        min-height: 4rem;
    }
}